@font-face {
    font-family: viking;
    src: url(./assets/Norse-Bold.otf);
}

input:focus {
    outline: none !important;
    border-color: coral;
    box-shadow: 0 0 10px rgb(238, 90, 37);
}
button:active {
    background-color: rgb(184, 91, 57);
    width: 145px;
    height: 45px;
    border: 2px solid black;

}

body {
    background-image: url(./assets/background.jpg);
    background-size: 100% 100%;
    margin: 0;
    font-family: viking;
}

.main {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: max(300px, 30%);
}
.me {
    background-color: hsla(235, 36%, 21%, 0.938);
    height: 20vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    color: coral;
    border-right: 0px;
}
.my-git {
    width: max-content;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    align-items: center;
    font-size: 40px;
}
.logo {
    height: auto;
    width: max(18vh,20px);
}
img.logo {
    filter: invert(73%) sepia(50%) saturate(4370%) hue-rotate(326deg) brightness(102%) contrast(101%);
}
.background-credits {
    text-align: center;
    margin-bottom: 18vh;
}
.background-credits a {
    font-size: 20px;
    color: #ff7f50;
}

.right {
    background-color: coral;
    height: 100vh;
    width: clamp(600px, 50%,70%);
    background-color: hsla(235, 36%, 21%, 0.938);
    gap: 25px;
}
#content {
    background-color: hsla(235, 36%, 21%, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    color: coral;
    font-size: 25px;
}
fieldset {
    box-sizing:content-box;
    margin: 5px;
    padding: 0;
    border-color: coral;
    align-self: center;
}
#form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 580px;
}
.cell {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 250px, 300px);
    margin: 15px;
    gap: 5px;
}

input {
    font-size:  20px;
    background-color: hsla(235, 31%, 21%, 0.562);
    border-color: coral;
    color: rgb(255, 147, 107);
}
button {
    width: 150px;
    height: 50px;
    background-color: coral;
    font-family: viking;
    font-size: 25px;
    border: none;
    margin-top: 15px;
}
a {
    text-decoration: none;
}